
        .body-initial {
            background-color: rgba(175,174,142,0.5686274509803921); 
        }
        .silex-id-1474394621033-3 {
            min-height: 600px; 
            top: 5px; 
            left: 0px; 
        }
        .silex-id-1474394621032-2 {
            min-height: 600px; 
            background-color: rgba(255,249,186,0.611764705882353); 
        }
        .silex-id-1482193131344-0 {
            min-height: 191px; 
            width: 960px; 
            background-color: rgba(186,255,21,1); 
            top: 100px; 
            left: 0px; 
            background-image: url('../assets/nasa-140304_1920.jpg'); 
            background-position: center center; 
            background-attachment: fixed; 
            background-size: contain; 
            background-repeat: no-repeat; 
        }
        .silex-id-1482193638267-1 {
            min-height: 87px; 
            width: 477px; 
            top: 45px; 
            left: 259px; 
        }
        .silex-id-1474394605264-1 {
            min-height: 100px; 
            top: 100px; 
            left: 100px; 
        }
        .silex-id-1474394605263-0 {
            min-height: 100px; 
            background-color: transparent; 
        }
        .silex-id-1442914737143-3 {
            min-height: 36px; 
            width: 960px; 
            top: 37px; 
            left: 1px; 
        }
    